::-webkit-scrollbar {
  width: 8px;
  /* display: none; */
  background: #111!important;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 4px;
  background: #f1e3b8;
  opacity: 0;
  cursor: default;
  outline: none;
  z-index: 1;
  will-change: transform;
}

::-webkit-scrollbar-thumb:not(:hover) ::-webkit-scrollbar-thumb{
  transition: opacity .1s .5s;
}